@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #000000;
    --dark-gray-color: #3F3D3D;
    --gray-color: #5C5C5C;
    --light-gray-color: #F0F0F0;
    --light-color: #FFFFFF;
    --primary-color: #28D979;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

#root {
    max-width: 595px;
    max-height: 842px;
    border: 1px solid black;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cv-block {
    padding: 12px;
    background-color: var(--light-gray-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .cv-block__title {
        font-size: 14px;
        font-weight: 500;
    }
}

.profile {
    .profile__avatar {
        width: 124px;
        height: 124px;
        border-radius: 12px;
    }

    .profile__id {
        white-space: nowrap;

        .profile__name {
            font-size: 14px;
            font-weight: 600;
            margin-top: auto;
        }

        .profile__hello {
            font-size: 10px;
            font-weight: 500;
            margin-bottom: auto;
        }

        .profile__post {
            font-size: 12px;
            font-weight: 500;
            color: var(--gray-color);
        }
    }

    .profile__languages {
        width: 100%;

        .languages {
            display: flex;
            margin-top: 16px;
            gap: 17px;

            .languages__name--list,
            .languages__progress--list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;
            }

            .languages__name--list {
                .languages__name--item {
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            .languages__progress--list {
                width: 100%;

                .languages__progress--item {
                    height: 11px;
                    width: 70%;
                    background-color: var(--primary-color);
                    border-radius: 3px;
                }
            }
        }
    }
}