@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #000000;
    --dark-gray-color: #3F3D3D;
    --gray-color: #5C5C5C;
    --light-gray-color: #F0F0F0;
    --light-color: #FFFFFF;
    --primary-color: #28D979;
    --dark-primary-color: #149063;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

#root {
    max-width: 595px;
    max-height: 842px;
    border: 1px solid black;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cv-block {
    padding: 12px;
    background-color: var(--light-gray-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .cv-block__title {
        font-size: 14px;
        font-weight: 500;
    }
}

.profile {
    .profile__avatar {
        width: 124px;
        height: 124px;
        border-radius: 12px;
    }

    .profile__id {
        white-space: nowrap;

        .profile__name {
            font-size: 14px;
            font-weight: 600;
            margin-top: auto;
        }

        .profile__hello {
            font-size: 10px;
            font-weight: 500;
            margin-bottom: auto;
        }

        .profile__post {
            font-size: 12px;
            font-weight: 500;
            color: var(--gray-color);
        }
    }

    .profile__languages {
        width: 100%;

        .languages {
            display: flex;
            margin-top: 16px;
            gap: 17px;

            .languages__name--list,
            .languages__progress--list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;
            }

            .languages__name--list {
                .languages__name--item {
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            .languages__progress--list {
                width: 100%;

                .languages__progress--item {
                    height: 11px;
                    width: 70%;
                    background-color: var(--primary-color);
                    border-radius: 3px;
                }
            }
        }
    }
}

.skills {
    .experience__list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 10px;

        .experience__item {
            padding: 8px;
            font-size: 8px;
            background-color: #FFFFFF;
            border-radius: 10px;

            .experience__item--head {
                margin-bottom: 10px;
            }

            .experience__item--body {
                display: flex;
                gap: 30px;

                .job {
                    white-space: nowrap;

                    .job__title {
                        font-weight: 500;
                        font-size: 10px;
                    }

                    .job__place {
                        color: var(--dark-gray-color)
                    }
                }

                .competitions__list {
                    list-style: outside;
                }
            }
        }
    }

    .tools {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .tools__categories {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 12px;

            .tools__category {
                display: flex;
                flex-direction: column;
                align-items: center;

                .tools__category--title {
                    font-size: 5px;
                    font-weight: 400;
                    transform: translateY(4px);
                    background: var(--dark-color);
                    padding: 2px 6px;
                    border-radius: 50px;
                    color: var(--light-color)
                }

                .tools__category--list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    justify-content: center;
                    padding: 15px;
                    background-color: var(--light-color);
                    border-radius: 6px;
                }
            }
        }
    }
}

.other {
    gap: 20px;

    .container-column {
        width: 50%;
    }

    .education {
        width: 50%;

        .education__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 16px;

            .education__item {
                background-color: var(--light-color);
                border-radius: 10px;
                padding: 8px;
                width: 116px;
            }
        }

        .education__date,
        .education__title {
            font-weight: 500;
            font-size: 10px;
            color: var(--dark-color);
        }

        .education__tags {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;

            .education__tags--item {
                font-size: 8px;
                color: var(--dark-primary-color);
            }
        }

        .education__place {
            font-size: 8px;
        }
    }

    .container-column {
        gap: 20px;
    }

    .interests {
        height: 100%;

        .interests__list {
            margin-top: 16px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            .interests__item {
                padding: 4px 10px;
                background-color: var(--light-color);
                font-size: 10px;
                border-radius: 40px;
            }
        }
    }

    .contact {
        background-color: var(--dark-color);
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        gap: 11px;

        .contact__text {
            font-size: 14px;
            font-weight: 500;
        }

        .contact__email {
            font-size: 10px;
        }
    }

}


.tool {
    width: 10px;
    height: 15px;
    background: black;
}

