.main-container {
  max-width: 1000px;
}

.background-base {
  background-color: var(--background-base-color);
}

.background-green {
  background-color: var(--green-color);
}

.background-white {
  background-color: #ffffff;
}

.background-black {
  background-color: #000000;
}

.color-white {
  color: #ffffff;
}

.title {
  display: inline-block;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.ul-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.wrapper-save-pdf {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-width: 600px;
}
